.wrap {
    display: block;
    height: 500px;
    width: 500px;
    background-color: gray;
    /* background-image: url('./pages/imgs/async.webp');
    background-size: 50%;
    background-repeat: no-repeat; */
    margin: 100px 0 0 100px;
}

.table {
    display: table;
}

.box {
    height: 50px;
    width: 50px;
    background: red;
}
.box:first-child {
    /* background: green; */
    /* position: relative;
    top: 150px; */
}
.box:nth-child(2n) {
    background: green;
}

.A {
    transform: translate(-50px, 0);
}

.B {
    /* height: 200px;
    background: gray; */
}
